[manifest]
version = "1.0.0"
priority = 1

# Define a var substitution rule. This searches for lines that contain {{lovely:var_name}}
# (var_name from this example, it can really be anything) and replaces each match with the
# provided value.
# This example would transform print('{{lovely:var_name}}') to print('Hello world!').
#
# USEFUL: For when you want to reduce the complexity of repetitive injections, eg. embedding
# release version numbers in multiple locations.
[vars]
ave_colour = "Ave_color"

# Inject one or more lines of code before, after, or at (replacing) a line which matches
# the provided pattern.
#
# USEFUL: For when you need to add / modify a small amount of code to setup initialization
# routines, etc.

# Add dunsparce image to atlas, otherwise "angry-dunsparce" will return null
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = 'self:prep_stage(G.STAGES.RUN, saveTable and saveTable.STATE or G.STATES.BLIND_SELECT)'
position = "at"
payload = 'self:prep_stage(G.STAGES.RUN, saveTable and saveTable.STATE or 32)'
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = 'G.STATE = G.STATES.SHOP'
position = "at"
payload = '''if G.STATE == G.STATES.ROUND_EVAL then
  G.STATE = G.STATES.SHOP
end'''
match_indent = true
times = 1 

[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = 'G.GAME.round_resets.blind_tags.Big = get_next_tag_key()'
position = "after"
payload = '''G.STATE = 32'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = 'G.FUNCS.hand_text_UI_set = function(e)'
position = "before"
payload = '''
G.FUNCS.ave_scroll = function (e)
  ave_map_scroll()
end
'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''if self.STATE == self.STATES.MENU then
  self:update_menu(dt)
end'''
position = "after"
payload = '''

if self.STATE == 32 then
  Ave_Update_Map(dt)
end

'''
match_indent = true
times = 1

# Saving the Map in save_run()
[[patches]]
[patches.pattern]
target = "functions/misc_functions.lua"
pattern = '''
BACK = G.GAME.selected_back:save(),
VERSION = G.VERSION
'''
position = "before"
payload = '''
MAP = AVE.MAP,
'''
match_indent = true
times = 1

# Reloading the Map in start_run()
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''
self.consumeables = CardArea(
'''
position = "before"
payload = '''
if saveTable and saveTable.MAP then
  AVE.MAP = saveTable.MAP
  AVE.MAP.reloaded = true
end
'''
match_indent = true
times = 1


[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''for k, v in pairs(self.I.CARD) do'''
position = "before"
payload = '''
  aveDrawLine()
'''
match_indent = true
times = 1



# Map Pool Functions
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''local _pool, _pool_key = get_current_pool(_type, _rarity, legendary, key_append)'''
position = "at"
payload = '''local _pool, _pool_key = get_current_pool(_type, AVE.rarity or _rarity, legendary, key_append)'''
match_indent = true
times = 1


#boss blinds for small/big blinds, stole from cryptid because didn't want to rewrite it
# small/big blind don't increase ante
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = "if G.GAME.blind:get_type() == 'Boss' then"
position = "at"
payload = "if G.GAME.blind_on_deck == 'Boss' then"
match_indent = true

# small/big blind don't win game
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = "if G.GAME.round_resets.ante == G.GAME.win_ante and G.GAME.blind:get_type() == 'Boss' then"
position = "at"
payload = "if G.GAME.round_resets.ante >= G.GAME.win_ante and G.GAME.blind_on_deck == 'Boss' then"
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''if v.boss.showdown then'''
position = "at"
payload = '''if v.boss and v.boss.showdown then'''
match_indent = true
times = 1


# get_current_pool() - check current stage and set rarity to a more broad scope
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''
        --create the pool
        G.ARGS.TEMP_POOL = EMPTY(G.ARGS.TEMP_POOL)
        local _pool, _starting_pool, _pool_key, _pool_size = G.ARGS.TEMP_POOL, nil, '', 0
'''
position = "after"
payload = '''
local ave_stage = get_current_stage()
local rarity = nil
'''
match_indent = true
times = 1

# get_current_pool() - now set rarity 
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''
local rarity = _rarity or SMODS.poll_rarity("Joker", 'rarity'..G.GAME.round_resets.ante..(_append or ''))
'''
position = "at"
payload = '''
rarity = _rarity or SMODS.poll_rarity("Joker", 'rarity'..G.GAME.round_resets.ante..(_append or ''))
'''
match_indent = true
times = 1

# get_current_pool() - remove rarity declaration because I set it earlier in scope
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''
            local rarities = SMODS.ObjectTypes[_type].rarities
            local rarity
'''
position = "at"
payload = '''
local rarities = SMODS.ObjectTypes[_type].rarities
'''
match_indent = true
times = 1

# get_current_pool() - check for matching types
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''
            add = in_pool and (add or pool_opts.override_base_checks)
'''
position = "before"
payload = '''
if add and ave_stage and v.set == 'Joker' then
  if ave_stage.plus then
    if ave_stage.plus.types then
      local no_matches = true
      local discard_rate = ave_stage.plus.types.rate or 0
      for k, plus in ipairs(ave_stage.plus.types.type) do
          if v.ptype and v.ptype == plus then
            no_matches = false
          end
      end
      if no_matches then
        if pseudorandom(pseudoseed(v.key..G.GAME.round_resets.ante)) < discard_rate then
            add = nil
        end
      end
    end
  end
  if ave_stage.minus then
    if ave_stage.minus.types and v.ptype then
      for k, minus in ipairs(ave_stage.minus.types) do
        if v.ptype == minus.type then
          if pseudorandom(pseudoseed(v.key..G.GAME.round_resets.ante)) < minus.rate then
              add = nil
          end
        end
      end
    end
  end
end
'''
match_indent = true
times = 1

# get_current_pool() - add bonus keys
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''
        --if pool is empty
        if _pool_size == 0 then
'''
position = "before"
payload = '''
if ave_stage and ave_stage.bonus_key and _type == 'Joker' then
    for k, v in ipairs(ave_stage.bonus_key) do
      if not (G.GAME.used_jokers[v.key] and not SMODS.showman(v.key)) and G.P_CENTERS[v.key] then
        local rarity_num
        if v.rarity then 
          rarity_num = ({Common = 1, Uncommon = 2, Rare = 3, Legendary = 4})[v.rarity] or v.rarity
        else
          rarity_num = G.P_CENTERS[v.key].rarity or 1
        end
        if rarity_num == rarity then
          if pseudorandom(pseudoseed(v.key..G.GAME.round_resets.ante)) < v.rate then
            print("Adding bonus key:", v.key)
            _pool[#_pool + 1] = v.key
            _pool_size = _pool_size + 1
          end
        end
      end
    end
end

'''
match_indent = true
times = 1

# slap current stage card onto shop sign
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''
G.E_MANAGER:add_event(Event({
      trigger = 'immediate',
      func = (function()
          G.SHOP_SIGN.alignment.offset.y = 0
          return true
      end)
    }))
'''
position = "before"
payload = '''
if AVE.MAP and AVE.MAP.current_stage then
  ave_createShopStageUI()
end
'''
match_indent = true
times = 1

# allow map to move off screen during consumable use
[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = '''
if G.round_eval and not G.round_eval.alignment.offset.py then
      G.round_eval.alignment.offset.py = G.round_eval.alignment.offset.y
      G.round_eval.alignment.offset.y = G.ROOM.T.y + 29
    end
'''
position = "after"
payload = '''
if AVE.map and not AVE.map.alignment.offset.py then
	  AVE.map.alignment.offset.py = AVE.map.alignment.offset.y
	  AVE.map.alignment.offset.y = G.ROOM.T.y - 50
	end
'''
match_indent = true
times = 1

# allow map to come back on screen during consumable use
[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = '''
if G.round_eval then
                    G.round_eval.alignment.offset.y = G.round_eval.alignment.offset.py
                    G.round_eval.alignment.offset.py = nil
                  end
'''
position = "after"
payload = '''
if AVE.map then
					AVE.map.alignment.offset.y = AVE.map.alignment.offset.py
					AVE.map.alignment.offset.py = nil
				  end
'''
match_indent = true
times = 1